

@import url('https://fonts.googleapis.com/css2?family=Besley&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Besley&family=Poppins:wght@300&display=swap');

* {
    max-width: 500px;
    margin: auto;
    
}

body {
    background-color: bisque;
    color: chocolate;
    font-family: 'Poppins', sans;
}
img {
    width: 400px;
    max width: 600px;
    border-style: dotted;
    border-color: 'dark brown';
    border-width: 10px
}

h1, h2 {
    font-family: 'Besley', serif;
}

h2:hover{
    color:coral   
}